config LNET
	tristate "Lustre networking subsystem (LNet)"
	depends on INET
	help
	  The Lustre network layer, also known as LNet, is a networking abstaction
	  level API that was initially created to allow Lustre Filesystem to utilize
	  very different networks like tcp and ib verbs in a uniform way. In the
	  case of Lustre routers only the LNet layer is required. Lately other
	  projects are also looking into using LNet as their networking API as well.
