/dts-v1/;

#include "gbpc1.dts"

/ {
	compatible = "gnubee,gb-pc2", "mediatek,mt7621-soc";
	model = "GB-PC2";

	gpio-leds {
		compatible = "gpio-leds";

		lan1 {
			label = "gb-pc2:green:lan1";
			gpios = <&gpio 3 GPIO_ACTIVE_LOW>;
		};

		lan2 {
			label = "gb-pc2:green:lan2";
			gpios = <&gpio 4 GPIO_ACTIVE_LOW>;
		};

		lan3_orange {
			label = "gb-pc2:orange:lan3";
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
		};

		lan3 {
			label = "gb-pc2:green:lan3";
			gpios = <&gpio 15 GPIO_ACTIVE_LOW>;
		};
	};
};

&default_gpio {
	groups = "wdt", "uart3", "jtag", "i2c";
	function = "gpio";
};

&gmac1 {
	status = "ok";
};

&phy_external {
	status = "ok";
};
