config DTB_GNUBEE1
	bool "GnuBee1 NAS - 2.5inch"
	depends on SOC_MT7621 && DTB_RT_NONE
	select BUILTIN_DTB

config DTB_GNUBEE2
	bool "GnuBee2 NAS - 3.5inch"
	depends on SOC_MT7621 && DTB_RT_NONE
	select BUILTIN_DTB

